
<div class="view_card col-xs-12">

    <p class="about_text">
        I am a 22 year old student at Michigan State University, studying Media and Information
    specializing in Interactive and Social Media, and minoring in Information Technology.
    </p>
    <p class="about_text">
        That's what it says on my resume, at least... but it's not the full story.
    </p>
    <p class="about_text">
        If you know only one thing about me, then know that I'm a maker.
        I make things.  Not always great things either, sometimes the things I make are pretty crappy.
        But I don't stop making things.  I spend much of my free time programming, messing around with my
        computer, and tinkering with my Raspberry Pi and Arduino.  I have a passion for programming, it's my
        favorite thing to do... a frustrating thing sometimes, but I've always found it fascinating.  I'm also not
        that bad at it (hint, go look at my projects).
    </p>
    <p class="about_text">
        Enough technical stuff...  I'm also a human from time to time.  I enjoy watching Japanese
        anime (Death Note, Attack on Titan, Akame Ga Kill), as well as many BBC shows like Doctor Who and Sherlock.
        I'm an avid fan of RPG games like Fire Emblem and Shin Megami Tensei, and any game made by Nintendo.
        No, seriously, I'm totally a Nintendo fanboy, so don't you dare say anything bad about Zelda or Mario
        in my presence.  Occaisionally, I'll go camping around Michigan, though I do love technology, somtimes it's
        nice to unplug and read a good book... on a Kindle of course!  All of the Sherlock Holmes novels are among my favorites,
        as are War and Peace, the Harry Potter series, and others.  Literature fans probably took turns throwing up and cheering,
        what can I say, while I like my classics, I do like some of the modern books too, especially those from when I was a teenager.
    </p>

</div>