
<div class="view_card col-xs-12">

    <p class="about_text">
        For the fastest response, please contact me on my personal e-mail:
        zachary at jaghory dot com
    </p>
    <p class="about_text">
        <ul>
        <li>LinkedIn: <a href="https://www.linkedin.com/in/zachjaghory">https://www.linkedin.com/in/zachjaghory</a> </li>
        <li>Facebook: <a href="https://www.facebook.com/zachjaghory">https://www.facebook.com/zachjaghory</a></li>
        </ul>
    </p>

    <form method="post" action="http://www.zach-jaghory.com/sendmessage">
        <label for="sender">Your Name:</label><br>
        <input name="name" id="sender" type="text"><br>
        <label for="email">Your E-Mail:</label><br>
        <input name="email" id="email" type="email"><br>
        <label for="message">Message</label><br>
        <textarea name="messg" id="message" type="text">
            </textarea><br>
        <button onclick="alert('Message not sent, this is not implemented')">Send</button>
    </form>
</div>