
<div class="view_card col-xs-12">

    <h3>Android Instant Messaging App</h3>


    <p>For MI491, my partner and I have created an instant messaging app for Android powered by
    Firebase.  Unfortunately, that is due next Wednesday, so I don't have anything to show here for it.
        Also, since I haven't finished the server-side part of THIS website, I can only display the information
        for this project (no matter what you clicked on.  However this is an idea of what it will look like soon!
    </p>

    <a href="media/android_1.png">
        <img class="card_img" src="media/android_1.png">
    </a>

</div>