
    <div class="view_card col-xs-12">
        <a>Download PDF</a>

            <h3>Skills</h3>




            <h4>Programming Languages</h4>
            <ul>

                <li>Proficient in Java, Python, C++</li>

                <li>Experienced in Web Development with PHP, JavaScript, MySQL</li>

                <li>Familiar with C, some C#</li>
            </ul>

            <h4>Frameworks and Tools</h4>

            <ul>
            <li>Proficient with Laravel 5, jQuery, Bootstrap, HTML5 </li>

            <li>Experience with Android App Development </li>

            <li>Familiar with AngularJS, Qt 5, CSS3 </li>

            <li>Skilled in usage of JetBrains PhpStorm, IntelliJ IDEA, Android Studio, Microsoft Visual Studio, Git</li>

            </ul>

            <h3>Experience</h3>



            <div class="row">
                <strong class="resume_section_heading col-xs-4">Backend Programmer</strong>


                <strong class="resume_section_heading col-xs-offset-4 col-xs-4">Jun. 2015 - Present</strong>

            </div>


            <h5>MATRIX- Center for Digital Humanities and Social Sciences</h5>
            <ul>

                <li>Collaborated with team to develop open-source Kora 3 application</li>

                <li>Focused primarily on back-end development using Laravel 5 PHP Framework</li>

                <li>Created responsive, modern web sites using Blade templates, jQuery, and Bootstrap</li>

            </ul>


            Student Information Technology Assistant


            May 2015 - Jun.2015




            Summer Project with MSU IT Services Network Engineering

            Assessed and repaired network infrastructure in residence halls

            Performed basic configuration and setup of HP and Juniper switches




            Lead Student Technician


            Nov. 2011 - Apr. 2015




            MSU IT Services Computer Store, Help and Repair

            Troubleshot, diagnosed, and resolved software/hardware problems with PC and Macintosh computers

            Provided face to face training and support for end users in MSU services and general computer usage

            Identified and implemented new tools and processes to improve workflow and work order resolution time in the repair workshop, including setting up automated Windows deployments and diagnostic tools over a PXE server

            Trained and directed other students in the repair workshop, as well as assisted other student leads in the helpdesk

            Typical helpdesk tasks like virus removal, password resets, CA Service Desk, answering phone, delivering work orders, etc.

            Education




            Michigan State University


            Spring 2016




            East Lansing, MI

            Bachelor of Science in Media and Information

            Specializing in Interactive and Social Media

            Minor in Information Technology

            Relevant courses in C, C++, Python, Java, Discrete Mathematics, Project Management and Systems Analysis/Design, Client and Server-side Web Development, etc.

            Extracurricular activities including ACM, Spartan Hackers, SpartaSoft, and several hackathons


    </div>